<div data-role="view" data-use-native-scrolling="true"  data-title="Contrato Eventogram" data-layout="main" data-model="APP.models.eventogram" class="gerarpdf">
  <h1 data-bind="html: title" class="titulocontrato">CONTRATO DE PRESTAÇÃO DE SERVIÇO MESMERA COMUNICAÇÃO DIGITAL <br> EVENTOGRAM</h1>
     <p class="texto_contrato">
       Pelo presente instrumento particular de compromisso de prestação de serviço, que entre se fazem: de um lado, como PRESTADOR DE SERVIÇO: Mesmera Comunicação Digital localizada no Edifício Athenas Max Center, á  Av. Coronel Prates No 348, 12º andar, CEP: 39400 -104 registrada sob o CNPJ:20.484.941/0001-55, de propriedade do Sr. Marcel Bomfim Da Silva Fernandes, brasileiro, publicitário, portador da cédula de identidade RG no  MG-12.217.453  e do CPF/MF no 064.070.346-12; solteiro, residente e domiciliados à rua Antonio Rodrigues Nº411, bairro: São José, Montes Claros - MG, CEP: 39400 -349, UF: MG), doravante denominado simplesmente PRESTADOR DE SERVIÇO; e de outro lado, como CONTRATANTE: 
    </p>
    <br>
    <h3>DADOS DO CONTRATANTE:</h3>
    
<p id="bypassme" style="font-size:120%">This paragraph will <strong style="font-size:120%">NOT</strong> be on resulting PDF because a special attached element handler will be looking for the ID - 'bypassme' - and should bypass rendering it.</p>
    
    <form action="./index.html">
      <ul data-role="listview" data-style="inset" >
            <li>
                 <label>NOME:
                    <input type="text" value="" />
                </label>  
            </li>
            <li>
                 <label>CPF/CNPJ:
                    <input type="number" id="cpf" />
                </label>  
            </li>
            <li>
                 <label>RG:
                    <input type="number" value="" />
                </label>  
            </li>
             <li>
                 <label>ENDEREÇO:
                     <input type="number" value="" />
                </label>  
            </li>
             <li>
                 <label>NÚMERO:
                    <input type="text" value="" />
                </label>  
            </li>
            <li>
                 <label>BAIRRO:
                    <input type="text" value="" />
                </label>  
            </li>
            <li>
                 <label>COMPLEMENTO:
                    <input type="text" value="" />
                </label>  
            </li>
            <li>
                 <label>CEP:
                     <input type="number" value="" />
                </label>  
            </li>
            <li>
                 <label>MUNICÍPIO:
                    <input type="text" value="" />
                </label>  
            </li>
            <li>
                 <label>ESTADO:
                    <input type="text" value="" />
                </label>  
            </li>
            <li>
                 <label>TELEFONE:
                    <input type="tel" value="" />
                </label>  
            </li>
             <li>
                 <label>E-MAIL:
                    <input type="email" value="" />
                </label>  
            </li>
          
      </ul>
         <br> 
      <p class="texto_contrato">...doravante denominado simplesmente CONTRATANTE, têm entre si, como justos e contratados, o presente instrumento particular, elaborado nos termos da Lei, a ser executado na seguinte data e local:</p>  
         <br>   
            
      <h3>LOCAL DE EXECUÇÃO DO SERVIÇO:</h3>      
            
        <ul data-role="listview" data-style="inset">
            <li>
                <label>DATA:
                    <input type="date" value="" />
                </label>  
            </li>
            <li>
                <label>HORÁRIO:
                    <input type="time" value="" />
                </label>  
            </li>
            <li>
                <label>Nº CONVIDADOS:
                    <input type="text" value="" />
                </label>  
            </li>
            <li>
                <label>LOCAL:
                    <input type="text" value="" />
                </label>  
            </li>
             <li>
                 <label>ENDEREÇO:
                     <input type="number" value="" />
                </label>  
            </li>
             <li>
                 <label>NÚMERO:
                    <input type="number" value="" />
                </label>  
            </li>
            <li>
                 <label>BAIRRO:
                    <input type="text" value="" />
                </label>  
            </li>
            <li>
                 <label>COMPLEMENTO:
                    <input type="text" value="" />
                </label>  
            </li>
            <li>
                 <label>CEP:
                     <input type="number" value="" />
                </label>  
            </li>
            <li>
                 <label>MUNICÍPIO:
                    <input type="text" value="" />
                </label>  
            </li>
            <li>
                 <label>ESTADO:
                    <input type="text" value="" />
                </label>  
            </li>
            <li>
                 <label>REPRESENTANTE:
                    <input type="tel" value="" />
                </label>  
            </li>
            <li>
                 <label>CONTATO:
                    <input type="tel" value="" />
                </label>  
            </li>
            <li>
                 <label>HASHTAG:
                    <input type="text" value="" />
                </label>  
            </li>
        </ul>
            <br>
                
            <p class="texto_contrato">...regido de acordo com as cláusulas a seguir:</p>  
            
                <br>
            
             <h3>I - DO OBJETO DO CONTRATO:</h3>
             <p class="texto_contrato">Ambas as partes tem entre si um contrato de prestação do seguinte serviço:
                 <ul>
                     <li>Telão e projetor (Projeção Mapeada)</li>
                     <li>Quiosque com software de exibição, impressão e gerenciamento de fotos</li>
                     <li>Sistema rigoroso de filtragem de fotos exibidas no telão gerenciado pelo app do eventogram.</li>
                     <li>1 profissional capacitado para exercer função de manutenção e distribuição das fotos.</li>
                     <li>Transporte.</li>
                     <li>20 plaquinhas divertidas (por dia de evento)</li>
                     <li>Wifi para convidados que não possuem internet móvel - (Acesso limitado ao Instagram)</li>
                     <li>1 monopod a regime de comodato somento durante o evento.</li>     
                 </ul>
            </p> 
            <br>
             <h3>II - DO PRAZOS E PERIODO DE USO:</h3>
             <p class="texto_contrato">O presente contrato de prestação de serviços, visa a utilização dos mesmos, bom  para a seguinte data/período:</p>
                 <ul>
                    <li class="adddata">Dia: 20/12/2014</li>
                    <li>Por um período máximo de 8h corridas ou até 700 fotos</li>
                 </ul>
            <br>
             <h3>III - ORÇAMENTO:</h3>
           
                   <ul data-role="listview" data-style="inset">
                    <li>
                        <label>PREÇO:
                            <input type="text" value="" />
                       </label>
                    </li>
     
                    <li>
                        <label>ADITIVO/DESC:
                            <input type="text" value="" />
                        </label> 
                    </li>
                       
                    <li>
                        <label>FRETE E INSTALAÇÃO:
                            <input type="text" value="" />
                        </label> 
                    </li>
                
                   <li>
                        <label>TOTAL:
                            <input type="text" value="" />
                        </label>
                   </li>
                   <li>
                        <label>FORMA PAG:
                              <select id="dropdown">
                                <option value="avista">À vista</option>
                                <option value="entradamaisuma">50%+50%</option>
                                <option value="cartaoumavez">Cartão 1 vez</option>
                                <option value="cartaoduasvezes">Cartão 2 vezes</option>
                                <option value="cartaotresvezes">Cartão 3 vezes</option>
                            </select>
                        </label>
                   </li>
                   </ul>
        
                 <br>
             <h3>IV - DOS PRÉ-REQUISITOS:</h3>
             <p class="texto_contrato">Os seguintes pré-requisitos são de responsabilidade do cliente e devem ser disponibilizados antes do início da prestação de serviço. O não cumprimento de qualquer um dos itens listados abaixo poderão comprometer a prestação de serviço e, neste caso, será objeto de reavaliação e de eventualmente nova negociação:</p>
                  <p><ul style="margin-right:1rem;">
                     <li>A concordância formal por parte do cliente da proposta.</li>
                     <li>Pagamento imediato da entrada do valor acordado entre as partes, emissão de cheque ou nota promissória datada para faturar em até 2 dias antes do evento.s</li>
                     <li>Ambiente deve ter sinal de celular (3g/2g) das principais operadoras do mercado.</li>
                     <li>Energia elétrica próxima aonde será instalada a aparelhagem a ser utilizada. (120 volts).</li>
                     <li>Constituição e disponibilização do(s) representante(s) do cliente, com plenos poderes para acompanhamento do serviço prestado.</li>
                     <li>Caso o serviço for prestado fora do município de Montes Claros - MG, o valor do transporte será negociado.</li>
                     <li>Fornecimento de dados essênciais para o funcionamento do serviço com até 3 dias de antecedencia. (hashtag, logomarca, nome do evento).</li>
                     <li>Definição e inserção do Eventogram no layout da decoração do evento. Deverá ser informado com até 3 dias de antecedência..</li>     
                 </ul></p>
        
              <br>
             <h3>V - PREMISSAS:</h3>
                 <p><ul style="margin-right:1rem;">
                     <li>Esta proposta não contempla distribuição,  impressão ou elaboração de material que não sejam fotos postadas no instagram com a hashtag do evento.</li>
                     <li>Em caso de cancelamento, o valor de 100% não será restituído, será faturado pelo contratado a título de multa.</li>
                     <li>Em caso de eventuais atrasos ou qualquer problema relacionado a pagamento, o serviço será suspenso.</li>
                     <li>O não cumprimento de qualquer um dos pré-requisitos, poderá comprometer os prazos,performance, cronograma, serviço e/ou preços, sendo necessária a revisão desta proposta e nova negociação;</li>
                     <li>Fica o locador inteiramente responsável por todos os itens locados descrito no presente contrato, devendo arcar com qualquer dano ou prejuízo causado aos mesmos durante a prestação de serviço.</li>
                     <li>O prestador de serviço citado nesta não assume responsabilidade referente a eventuais problemas relacionados ao fornecimento de sinal de telefonia móvel.</li>
                     <li>Mesmo dispondo de sistema rigoroso de filtragem de fotos, o contratado não assume  responsabilidade referente a eventuais problemas relacionados a exibição de imagens de conteúdo impróprio no telão e no totem postado por terceiros no evento.</li>
                     <li>O prestador de serviço citado nesta poderá desligar o telão e ou suspender (encerrar) os serviços, sem resacimento de qualquer valor acordado neste, caso o mesmo for utilizado indevidamente por convidados do evento e ou terceiros ( Casos envolvendo falta de segurança no evento (violência) e eventual mal uso do serviço;</li>     
                 </ul></p>
        
                <br>
             <h3>VI - DAS  DISPOSIÇÕES GERAIS:</h3>
             <p class="texto_contrato">O contratado e o contratante presente nesta declaram expressamente que leram detidamente o presente instrumento, e em especial às condições do negócio e suas obrigações, não sendo lícita qualquer futura alegação judicial ou extrajudicial de que desconhecia as condições do negócio.</p>
        <br>
         <h3>VII - DA  ELEIÇÃO DO FORO:</h3>
             <p class="texto_contrato">As partes elegem o foro desta cidade e Comarca de Montes Claros - MG, com renúncia expressa de qualquer outro, por mais privilegiado que seja, para dirimir qualquer dúvida oriunda deste contrato.</p>
             <p class="texto_contrato">Este instrumento rege-se pela Lei no 10.406, de 10-01-2002.</p>
             <p class="texto_contrato">E, por estarem assim justos e contratados, assinam o presente instrumento em 02 (duas) vias de igual teor e forma, para que produza seus legais efeitos, juntamente com duas testemunhas a tudo presentes.</p>
             <p class="texto_contrato">Montes Claros - MG,<span class="dia_sign"></span> de <span class="mes_sign"></span> de <span class="ano_sign"></span></p>
        
     
          <a data-click="openModalViewLogin" data-role="button" data-rel="modalview" href="#modalview-login" id="modalview-open-button">ASSINAR DOCUMENTO</a>

        
 <div data-role="modalview" id="modalview-login" style="width: 90%;" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar">
            <span>ASSINAR DOCUMENTO</span>
            <a data-click="closeModalViewLogin" data-role="button" data-align="right">Cancelar</a>
        </div>
    </div>


    <div class='signature-wrapper' style="height:220px; width:100%;">
        <div id='signature' style="width:100%;height:220px;"></div>
        
    </div>
     
     
    <div data-role="footer">
        <div data-role="navbar">
            <a data-click="openModalViewLogin" id="modalview-login-button" type="button" data-role="button" data-align="right">LIMPAR</a>
            <a data-click="okModalViewLogin" id="modalview-login-button" type="button" data-role="button" data-align="right">OK</a>
        </div>
    </div>
</div>
         
    <div id="recebe_assinatura"></div>
        
        <a data-click="makepdf"  type="button" data-role="button" >FAZER PDF</a>
    </form>
   
    <script>  
     
        
        function signature() {
   $("#signature").jSignature();
    }
        

        
     
        
        function closeModalViewLogin() {
        $("#modalview-login").kendoMobileModalView("close");
        $("#signature").jSignature("reset")
    }  
        
        function openModalViewLogin() {
            
      
            
     
            
var timer; 


if ($(".k-animation-container").is(":hidden"))
{
    // Start / continue AJAX updating
    timer = setInterval(AJAXupdate, 1000);
} else {
    
    
    
    
    
          if( $('.jSignature').length ) {
                 
            } else {
                
                setTimeout(function() {
        $("#signature").jSignature({color:"#284283"});
}, 150);
                
                
              
            }
    
    
    
    
    // Stop AJAX updating
    clearInterval(timer);
}

            
            
            
        $("#signature").jSignature("reset")
    }  
      
    </script>
</div>

